<div class="hero-body">
    <div class="container">
    <div class="columns is-vcentered">
        <div class="column is-8 is-offset-1">              
        <section class="hero">
            <div class="hero-body">
              <div class="container">
                  <div class="row">
                        <h1 class="column title">
                                The Date
                            </h1>
                            <h2 class="column subtitle is-pulled-right">
                                June 10th, 2018
                            </h2>
                  </div>
                <div class="row">
                        <h1 class="column title">
                                The Ceremony
                            </h1>
                            <h2 class="conlumn subtitle is-pulled-right">
                                <a href="https://www.google.com/search?q=Firestone+Baars+Chapel&safe=on" target="_blank"><u>Firestone Baars Chapel</u></a>
                                @ 3:30pm
                            </h2>
                </div>
               <div class="row">
                    <h1 class="column title">
                            The Reception
                        </h1>
                        <h2 class="column subtitle is-pulled-right">
                            <a href="https://www.google.com/search?safe=on&biw=960&bih=943&tbm=isch&sa=1&q=Kimball+Ballroom&oq=Kimball+Ballroom" target="_blank"><u>Kimball Ballroom</u></a>
                            @ 4:30pm
                        </h2>
               </div>
                <div class="row" >
                        <h1 class="column title">
                                The Venue
                            </h1>
                            <h2 class="column subtitle is-pulled-right">
                                <a href="http://www.stephenscollegeevents.com/assets/Documents/Venue-Map.pdf" target="_blank"><u>Stephens College</u></a> <a href="https://www.google.com/maps/dir/38.8964924,-92.3382455/Stephens+College,+1200+E+Broadway,+Columbia,+MO+65215/@38.9241294,-92.3613795,13z/data=!3m1!4b1!4m16!1m6!3m5!1s0x87dcb7c25f2e7c7d:0xff974f6cfc4793ce!2sStephens+College!8m2!3d38.9515728!4d-92.3214357!4m8!1m1!4e1!1m5!1m1!1s0x87dcb7c25f2e7c7d:0xff974f6cfc4793ce!2m2!1d-92.3214357!2d38.9515728" target="_blank"><u>(Directions)</u></a>
                            </h2>
                </div>
                <div class="row" >
                        <h1 class="column title">
                                Lodging
                            </h1>
                            <h2 class="column subtitle is-pulled-right">
                                <a href="http://www.stoneycreekhotels.com/hotel/travel/columbia/home.do" target="_blank"><u>Stoney Creek Hotel</u> <br/> (Block of Rooms Reserved)</a>
                            </h2>
                </div>
               
              </div>
            </div>
          </section>

        <!-- <h3 class="subtitle is-4">
            <p>The Engagement: June 10th, 2018</p>
          
            <p>The Procession: <a href="https://www.google.com/search?q=Firestone+Baars+Chapel&safe=on" target="_blank">Firestone Baars Chapel</a></p>
           
            <p>The Reception: <a href="https://www.google.com/search?safe=on&biw=960&bih=943&tbm=isch&sa=1&q=Kimball+Ballroom&oq=Kimball+Ballroom" target="_blank">Kimball Ballroom</a></p>
           
            <p>The Venue: <a href="http://www.stephenscollegeevents.com/assets/Documents/Venue-Map.pdf" target="_blank">Stephens College</a></p>
            
        </h3> -->
       
        <br>
        </div>
    </div>
    </div>
</div>