<div class="hero-head">
    <div class="container">
    <nav class="navbar">       
        <div class="container">
        <div class="navbar-brand">
        <a routerLink="/" class="nav-item" href="../index.html">
        Anthony & Dana
        </a>
        </div>
        <div>
            <div (click)="mobileMenuClick()" class="dropdown is-hidden-tablet {{menuIsActive}}">
                    <div class="dropdown-trigger">
                        <button class="button is-info" aria-haspopup="true" aria-controls="dropdown-menu2">
                        <span class="icon is-small">
                            <i class="fa fa-angle-down" aria-hidden="true"></i>
                        </span>
                        </button>
                    </div>
                    <div class="dropdown-menu" id="dropdown-menu2" role="menu">
                        <div class="dropdown-content">
                            <div class="dropdown-item">
                                    <a routerLink="/fyi"  class="nav-item">
                                        FYI
                                        </a>
                            </div>
                            <div class="dropdown-item">
                                    <a routerLink="/photos"  class="nav-item">
                                        Photos
                                        </a>
                            </div>
                            <div class="dropdown-item">
                                    <a routerLink="/contact"  class="nav-item">
                                        Contact
                                        </a>
                            </div>
                            <div class="dropdown-item">
                                    <a routerLink="/rsvp" (click)="rsvp()" class="nav-item">
                                        RSVP
                                    </a>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
        <div class="nav-right nav-menu">
            <a routerLink="/fyi"  class="nav-item">
                FYI
            </a>
            <a routerLink="/photos"  class="nav-item">
                Photos
            </a>
            <a routerLink="/contact"  class="nav-item">
                Contact
            </a>
            <span class="nav-item">
            <a routerLink="/rsvp" (click)="rsvp()" class="button is-default">
                RSVP
            </a>
            </span>
        </div>
        </div>
    </nav>
    </div>
</div>