<div class="hero-head">
    <div class="container">
    <nav class="navbar">       
        <div class="container">
        <div class="navbar-brand">
        <a routerLink="/" class="nav-item" href="../index.html">
        Anthony & Dana
        </a>
        </div>
        <span class="nav-toggle">
            <span></span>
            <span></span>
            <span></span>
        </span>
        <div class="nav-right nav-menu">
            <a routerLink="/fyi"  class="nav-item">
            FYI
            </a>
            <a routerLink="/photos"  class="nav-item">
            Photos
            </a>
            <a routerLink="/contact"  class="nav-item">
            Contact
            </a>
            <span class="nav-item">
            <a routerLink="/rsvp" (click)="rsvp()" class="button is-default">
                RSVP
            </a>
            </span>
        </div>
        </div>
    </nav>
    </div>
</div>