/* You can add global styles to this file, and also import other style files */
body {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  color: #fff;
}
.is-dark {
  background-color: #F62459;
  background-size: 120em;
  background-image: linear-gradient(rgba(25, 181, 254, 0.6),rgba(246, 36, 89, 0.6)),linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6)), url('/assets/images/IMG_20170617_091320.jpg');
}
.navbar {
  background-color: transparent;
}
.nav {
  padding: 20px 0;
}
.hero.is-dark .nav-item a:not(.button), .hero.is-dark a.nav-item {
    color: #fff;
    padding: 0 30px;
}
.nav-item {
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
}
.nav-item .button{
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  background-color: transparent;
  border: 2px solid #fff;
  padding: 10px 20px;
  height: 45px;
  border-radius: 20px;
}
.promo-img {
  border-radius: 10px;
  border: 8px solid #fff;
}
.hero .dropdown a.nav-item {
  color: black;
}

.foot {
  font-size: .9em;
}

select {
  border: 1px solid #fff;
  background-color: rgba(255,255,255,.5);
  padding: 5px;
}