<div class="hero-body">
  <div class="container has-text-centered">
  <div class="columns is-vcentered">
      <div class="column is-12">
          <h1 class="title is-4">
              Wedding Registry
          </h1>
          <br>
              <div class="columns is-3">
                  <div class="column">
                      <a target="_blank" href="https://www.amazon.com/wedding/dana-winberg-anthony-santi-columbia-june-2018/registry/31LZ4HC2QRSVZ"><strong>Amazon</strong>
                      <figure class="image">
                              <img src="https://images-na.ssl-images-amazon.com/images/G/01/gc/designs/livepreview/a_generic_white_10_us_noto_email_v2016_us-main._CB277146614_.png" style="object-fit:fill;max-height: 295px;" class="promo-img" alt="Amazon Wedding Registry">
                          </figure>
                      </a>
                  </div>  
                  <div class="column ">
                      <a target="_blank" href="https://tgt.gifts/Santiwinberg"><strong>Target</strong>
                      <figure class="image">
                              <img src="https://pbs.twimg.com/profile_images/960896975737622528/-5k32D4t_400x400.jpg" style="object-fit:contain;background:white;max-height: 295px;" class="promo-img" alt="Target Wedding Registry">
                          </figure>
                      </a>
                  </div>                
              </div>                 
          </div>
  </div>
  </div>
</div>