<!--The content below is only a placeholder and can be replaced.-->
<section class="hero is-fullheight is-dark">
    <div class="hero-head">
      <div class="container">
        <nav class="navbar">       
          <div class="container">
            <div class="navbar-brand">
            <a class="nav-item" href="../index.html">
            Anthony & Dana
            </a>
          </div>
            <span class="nav-toggle">
              <span></span>
              <span></span>
              <span></span>
            </span>
            <div class="nav-right nav-menu">
              <a class="nav-item">
                FYI
              </a>
              <a class="nav-item">
                Photos
              </a>
              <a class="nav-item">
                Contact
              </a>
              <span class="nav-item">
                <a class="button is-default">
                  RSVP
                </a>
              </span>
            </div>
          </div>
        </nav>
      </div>
    </div>

    <div class="hero-body">
      <div class="container has-text-centered">
        <div class="columns is-vcentered">
          <div class="column is-5">
            <figure class="image">
              <img src="/assets/images/danatonyplane.gif" class="promo-img" alt="Description">
            </figure>
          </div>
          <div class="column is-6 is-offset-1">
            <h1 class="title is-2">
              It's Finally Happening
            </h1>
            <h2 class="subtitle is-4">
              Say goodbye to the single life
            </h2>
            <br>
            <div class="field has-addons">
              <div class="control is-expanded has-text-centered">
                <input class="input is-large" type="text" placeholder="Join the mailing list, you@example.com">
              </div>
              <div class="control">
                <a class="button is-large is-danger is-outlined">
                  Sign Up
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="hero-foot">
      <div class="container">
        <div class="tabs is-centered">
          <ul>
            <li><a href="http://bulma.io">Made with bulma</a></li>
            <li><a>Copyright 2017-2018 Tony Santi</a></li>
            <li><a href="http://unsplash.com">Images via unsplash</a></li>
          </ul>
        </div>
      </div>
    </div>
  </section>