<div class="hero-body">
    <div class="container has-text-centered">
    <div class="columns is-vcentered">
        <div class="column is-12">
        <h1 class="title is-4">
            Oh so you got a nifty RSVP code did ya?
        </h1>
        <h2 class="subtitle is-8">
            Sweet, put it in the box below to continue.
        </h2>
        <br>
         <div class="field has-addons">
            <div class="control is-expanded has-text-centered">
                <input class="input is-large" type="text" placeholder="Psst, type RSVP Code in here">
            </div>
            <div class="control">
                <a class="button is-large is-danger is-outlined">
                    RSVP
                </a>
            </div>
        </div> 
        </div>
    </div>
    </div>
</div>