<div class="hero-body">
    <div class="container has-text-centered">
      <div *ngIf="stage == 0 && isLoading == false" class="columns is-vcentered">
            <div class="column is-12">
            <!-- <h1 class="title is-4">
                Oh so you got a nifty RSVP code did ya?
            </h1>
            <h2 class="subtitle is-8">
                Sweet, put it in the box below to continue.
            </h2> -->
            <h1 class="title is-4">
              We see you are super excited to fill out your RSVP!
            </h1>
            <h2 class="subtitle is-8">
                Unfortunately this feature is not enabled yet.
            </h2>
            <br>
              
              <div class="field has-addons">
                  <div class="control is-expanded has-text-centered">
                      <!-- <input #rsvpCode class="input is-large" type="text" placeholder="Psst, type RSVP code in this box!" /> -->
                      <input #rsvpCode (keyUp)="onKey($event)" class="input is-large" [ngClass]="{'is-danger': inputError}" type="text" placeholder="You will receive your code in the mail. Thanks for your patience." />
                  </div>
                  <div class="control">
                      <a (click)="submitRsvpCode(rsvpCode.value); rsvpCode.value = ''" class="button is-large is-danger is-outlined" [attr.disabled]="isApiOk ? null : 'disabled'">
                          RSVP
                      </a>
                    </div>
              </div> 
            
            <div class="notification is-danger" style="position: absolute" *ngIf="inputError == true">
                <button class="delete" (click)="removeNotification('inputError')"></button>
                We couldn't find your code in our Répondez s'il vous plaît catalog. <strong>Please try again</strong>, if the issue perists please email tony@tonysanti.com
            </div>
            <div class="notification is-warning is-vcentered" style="position: absolute" *ngIf="isApiOk == false" [innerHtml]="errorMessage">
              <button class="delete" (click)="removeNotification('isApiOk')"></button>
              
            </div>
          </div>           
      </div>

      <div *ngIf="stage == 1" class="columns is-vcentered">
          <div class="column is-12">
          <h1 class="title is-4">
              Will you be attending our wedding?
          </h1>
          <br />
          <div class="columns is-3">
            <div class="column">
                <strong>Yes</strong>
              <div class="field-body">
                <div class="field">
                  <div class="control">
                      <label class="radio" style="width: 100%; padding-bottom: 1em">
                          <button style="width: 100%" (click)="attendingButton($event)" class="button is-large is-primary"> Will attend with pleasure! </button>
                    </label>
                    <br />
                    <label class="radio" style="width: 100%; padding-bottom: 1em">
                        <button style="width: 100%" (click)="attendingButton($event)" class="button is-large is-primary">Accepts invitation with regret. </button>
                    </label>
                    <br />
                    <label class="radio" style="width: 100%; padding-bottom: 1em">
                        <button style="width: 100%" (click)="attendingButton($event)" class="button is-large is-primary"> Decline to respond but attend anyway. </button>
                    </label>
                  </div>
                </div>
              </div>
            </div>  
            <div class="column ">
                <strong>No</strong>

              <div class="field-body">
                <div class="field">
                  <div class="control">
                      <label class="radio" style="width: 100%; padding-bottom: 1em">
                          <button style="width: 100%" (click)="attendingButton($event)"class="button is-large is-danger">Regretfully decline to attend. </button>
                      
                    </label>
                    <br />
                    <label class="radio" style="width: 100%; padding-bottom: 1em">
                        <button style="width: 100%" (click)="attendingButton($event)" class="button is-large is-danger">  Declines invitation with enthusiasm. </button>
                     
                    </label>
                    <br />
                    <label class="radio" style="width: 100%; padding-bottom: 1em">
                        <button style="width: 100%" (click)="attendingButton($event)" class="button is-large is-danger"> No - Other uncreative reason. </button>
                    
                    </label>
                  </div>
                </div>
              </div>
            </div>    
        </div> 

   
          </div> 
      </div>       

      <div *ngIf="stage == 2" class="columns ">
          <div class="column is-12">
          <h1 class="title is-4">
              One Last Question
          </h1>
          <h2 class="subtitle is-8">
              Give us a song that will help get you dancing
          </h2>                  
            
            <div class="field is-horizontal">
              <div class="container">
                <div class="field-label column">
                  <label class="label" style="color:white"></label>
                  <input #songName class="input is-large" type="text" placeholder="Song Name / Band" />
                </div>

            
            <div class="field is-horizontal">
              <div class="field-label">
                <!-- Left empty for spacing -->
              </div>
              <div class="field-body">
                <div class="field">
                  <div class="control">
                    <button (click)="finishAndUpdate()" class="button is-primary">
                      Submit My RSVP
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>

      <div *ngIf="stage == 3" class="columns is-vcentered">
        <div class="column is-12">
        <h1 class="title is-12">
            Your all done!
        </h1>
        <h2 class="subtitle is-8">
            Thanks for particiapting.
        </h2>                    
        </div>
      </div>
    </div>
</div>