<div class="hero-body">
    <div class="container has-text-centered">
    <div class="columns is-vcentered">
        <div class="column is-5">
        <figure class="image">
            <video autoplay loop class="promo-img" alt="Description">
                <source src="/assets/images/MiserlyScornfulIndianglassfish.webm" type="video/webm">
                    Your browser does not support webm videos.
            </video>
        </figure>
        </div>
        <div class="column is-6 is-offset-1">
        <h1 class="title is-2">
            It's Finally Happening
        </h1>
        <h2 class="subtitle is-4">
            Say goodbye to the single life
        </h2>
        <br>
        </div>
    </div>
    </div>
</div>