<div class="hero-body">
    <div class="container has-text-centered">
    <div class="columns is-vcentered">
        <div class="column is-12">
        <h1 class="title is-4">
            You want to see some pictures?
        </h1>
        <br>
            <div class="columns">
                <div class="column">
                    <a href="https://goo.gl/photos/ah2jUs2fVxkyhY3p6" target="_blank">2017 Breckenridge
                    <figure class="image">
                            <img src="/assets/images/breckenridge.jpg" class="promo-img" alt="Breckenridge Pictures 2017">
                        </figure>
                    </a>
                </div>
                <div class="column">
                    <a href="https://goo.gl/photos/pTJsd7MK3Rur3rgYA" target="_blank">2016 Thanksgiving
                    <figure class="image">
                            <img src="/assets/images/chicago.jpg" class="promo-img" alt="Thanksgiving Pictures 2016">
                        </figure>
                    </a>
                </div>
                <div class="column">
                    <a href="https://goo.gl/photos/PkBzStrufu5pUbhZ7" target="_blank">2016 Ireland
                    <figure class="image">
                            <img src="/assets/images/ireland.jpg" class="promo-img" alt="Ireland Pictures 2016">
                        </figure>
                    </a>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>