<div class="hero-body">
  <div class="container is-fluid has-text-centered">
      <div *ngIf="!loggedIn">
          <form #adminInputForm="ngForm" novalidate (ngSubmit)="onSubmit(adminInputForm)">
          <div class="row">
              <div class="column is-vcentered">  
                  <div class="column">
      
                  <h1 class="title is-4">
                  Super Secret Admin Page
                  </h1>
                  <h2 class="subtitle is-8">
                      Hope you know what you are doing.
                  </h2>
                  <br>
              </div>
          </div>
      </div>
      <div class="row">
          <div class="columns">
              <div class="column is-2 field has-addons">
              </div>
              <div class="column is-9 field has-addons">
                  <div class="control is-expanded has-text-centered">
                      <input name="adminPassword" [(ngModel)]="adminPassword" required class="input is-large" minlength="4" [ngClass]="{'is-danger': inputError}" type="password" placeholder="Password" />
                  </div>
                  <div class="control">
                      <button type="submit" class="button is-large is-danger is-outlined">
                          Login
                      </button>
                  </div>
              </div> 
          </div>
      </div>     
      </form>               
    </div>


    <div *ngIf="loggedIn">
        <h1 class="title is-4">
            Danner's Page
        </h1>
        <br />

        <div class="row">
            <div class="columns is-12">
                <div class="column is-2"></div>
            <div class="column is-4">
              <h2 class="title">Attending</h2>
                  
              </div>
            </div>
            <div class="column is-4">
              <h2 class="title">Not Attending</h2>
              
            </div>
        </div>  
      </div>               
  

  </div>
</div>