<div class="hero-body">
    <div class="container has-text-centered">
    <div class="columns is-vcentered">
        <div class="column is-12">
        <h1 class="title is-4">
            You want to see some pictures?
        </h1>
        <br>
            <div class="columns is-3">
                <div class="column" *ngFor="let album of photoAlbums">
                    <a href="{{album.url}}" target="_blank">{{album.title}}
                    <figure class="image">
                            <img src="{{album.image}}" class="promo-img" alt="Breckenridge Pictures 2017">
                        </figure>
                    </a>
                </div>          
            </div>
        </div>
    </div>
    </div>
</div>